.app-enter, .app-appear {
  opacity: 0;
}
.app-enter-active, .app-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.app-enter-done{
  opacity: 1;
}
.app-exit {
  opacity: 1;
}
.app-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.app-exit-done{
  opacity: 0;
}
